*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: aquamarine;
    nav ul {
        display: flex;
        gap: 2rem;
        justify-content: center;
        li {
            list-style: none;
            padding: 0.75rem;
            a {
                text-decoration: none;
                color: chocolate;
                font-weight: 600;
            }
        }
    }
}

main {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        border: 1px solid black;
        padding: 1rem;
        border-radius: 10px;
        div.form-control {
            padding: 0.5rem;
            &>* {
                margin-right: 1rem;
            }
        }
    }
}

.hidden {
    display: none;
}