body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.password-container {
    position: relative;
    display: inline-block;
    :nth-child(1) {
        padding: 4px 36px;
    }
}
#togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
