*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: aquamarine;
    padding: 20px;
    nav {
        display: relative;
        align-items: center;
        ul li {
            display: inline-block;
            margin-right: 20px;
        }
    }
}

.menu-toggle {
    all: unset;
    display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    background-color: pink;
    z-index: 1000;
    padding: 10px;
    a {
        display: block;
        padding: 5px;
    }
}

.show {
    display: block;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
        cursor: pointer;
    }
    .menu {
        display: none;
    }
}